button.fileinput-upload.fileinput-upload-button {
  display: none;
}

.m_index {
  opacity: 1;
}

.m_index table {
  opacity: 1;
}

.m_index table thead {
  opacity: 1;
}

.m_index table thead tr {
  opacity: 1;
}

.m_index table tbody {
  opacity: 1;
}

.m_index table tbody td {
  opacity: 1;
}

.m_show {
  opacity: 1;
  padding: 50px 300px;
}

.m_create_edit label[for='status0'],
.m_create_edit label[for='status1'] {
  opacity: 1;
  font-weight: normal;
}

.m_create_edit {
  opacity: 1;
}

.m_create_edit form {
  width: 50%;
  margin: 0 auto;
}

.m_create_edit form .bound_price {
  opacity: 1;
  border: 1px solid #000;
  padding: 9px 2px;
}

.m_create_edit form .bound_price .m_line {
  opacity: 1;
  clear: both;
  overflow: hidden;
  margin-bottom: 12px;
}

.m_create_edit form .bound_price .m_line .m_both {
  opacity: 1;
  float: left;
}

.m_create_edit form .bound_price .m_line .m_left {
  opacity: 1;
  width: 100px;
}

.m_create_edit form .bound_price .m_line .m_left input {
  opacity: 1;
  display: inline-block;
  width: 53px;
}

.m_create_edit form .bound_price .m_line .m_left span {
  opacity: 1;
}

.m_create_edit form .bound_price .m_line .m_right {
  opacity: 1;
  width: calc(100% - 100px);
}

.m_create_edit form .bound_price .m_line .m_right input {
  width: calc(100% - 75px);
  display: inline-block;
}

.m_create_edit form .bound_price .m_line .m_right .action {
  opacity: 1;
  display: inline-block;
  float: right;
}

.m_create_edit form .bound_price .m_line .m_right .action i.icon::before {
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  padding: 4px 8px;
}

input[type=checkbox],
input[type=radio] {
  margin: -3px 0 0;
  line-height: normal;
}

input#status1 {
  margin-left: 43px;
}


/*CSS more for validation*/
input.error, textarea.error, select.error {
  border-color: #f82020 !important;
}
input.error:focus, textarea.error:focus {
  border-color: #f82020 !important;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(227, 20, 20, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(227, 20, 20, 1);
  box-shadow: 0px 0px 2px 0px rgba(227, 20, 20, 1);
}
label.error {
  color: #f82020;
}


.noticeNumber {
  opacity: 1;
  font-size: 11px;
  color: red;
}
.file-caption-main .btn-file label.error {
  margin-bottom: 0px;
}
.file-input .file-caption-main .input-group-append .btn-primary.btn-file {
  color: #000;
  background-color: #fff;
}
