
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//
// Variables
@import "../variables";
//
//// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//More common css
input.btn-primary[type='submit'] {
  margin-left: 50px;
}
.sidebar-collapse.sidebar-mini.vsc-initialized .logo b {
  display: none;
}
.navbar-nav > .user-menu .user-image {
  border-radius: 0%;
}
.img-circle {
  border-radius: 0%;
}

.font_bold {
  font-weight: bold!important;
}
//CRUD COMMON SCSS
.m_show {
  opacity: 1;

  .box {
    opacity: 1;

    .box-body {
      opacity: 1;

      .row {
        opacity: 1;

        .form-group {
          opacity: 1;

          label {
            opacity: 1;
            font-size: 16px;
            font-family: $font_admin;
            width: 150px;

            font-weight: normal;

          }
          p {
            opacity: 1;
            font-size: 16px;
            font-family: $font_admin;

            display: inline-block;
          }

          .price_label {
            vertical-align: top;
          }

          .list_price {
            opacity: 1;
            display: inline-block;
            width: calc(100% - 187px);

          }
        }
      }
    }
  }
}