//CRUD COMMON SCSS

//1.M SHOW
.m_show {
  opacity: 1;

  .box {
    opacity: 1;

    .box-body {
      opacity: 1;

      .row {
        opacity: 1;

        .form-group {
          opacity: 1;

          label {
            opacity: 1;

          }
          p {
            opacity: 1;

          }
        }
      }
    }
  }
}