//Common model

//Index
.m_index {
  opacity: 1;

  table {
    opacity: 1;

    thead {
      opacity: 1;

      tr {
        opacity: 1;

      }
    }
    tbody {
      opacity: 1;

      td {
        opacity: 1;

      }
    }
  }
}


//Create
.m_create {
  opacity: 1;


}
