//Common model

//Index
.m_index {
  opacity: 1;

  table {
    opacity: 1;

    thead {
      opacity: 1;

      tr {
        opacity: 1;

      }
    }
    tbody {
      opacity: 1;

      td {
        opacity: 1;

      }
    }
  }
}

//Show
.m_show {
  opacity: 1;

  padding: 50px 300px;
}


//Create
.m_create_edit label[for='status0'],
.m_create_edit label[for='status1'] {
  opacity: 1;
  font-weight: normal;
}

.m_create_edit {

  opacity: 1;

  form {
    width: 50%;
    margin: 0 auto;
  }

}
input[type=checkbox], input[type=radio] {
  margin: -3px 0 0;
  line-height: normal;
}

input#status1 {
  margin-left: 43px;
}